.cover__link {
    outline: 1px solid red;
    text-decoration: none;
    width: 1024px;
    height: 640px;

}

.cover__link::before{
    opacity: 0.8;
    z-index: -1;
}

.cover__link:hover{
    opacity: 0.5;
}
